.page {
    background-color: #2A2C2F;
    font-family: 'Inter';
    font-weight: normal;
    color: #ffffff;
    padding: 0;
}

.page__container {
    max-width: 1184px;
    margin: 0 auto;
}

/* header styles */

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 984px;
    padding-top: 34px;

}

.header__links {
    display: flex;
    align-content: center;
    
}

.header__lang-link {
    margin: auto 0;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:nth-of-type(1) {
    margin-right: 18px;
    text-decoration: underline;
}

/* lead styles */

.lead {
    margin: 58px auto 0;
    text-align: center;
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
    max-width: 720px;
}

.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 64px;
    max-width: 620px;
    text-align: center;
}

.lead__image {
    margin: 0 auto;
    max-width: 984px;
    max-height: 615px;
}

