

@media screen and (max-width: 1120px) {
    .photo-grid__image {
        min-width: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 860px) {
    .photo-grid__image {
        min-width: 352px;
        object-fit: cover;
    }
}


@media screen and (max-width: 425px) {
    .photo-grid__image {
        min-width: 288px;
        object-fit: cover;
    }
}