

@media screen and (max-width: 1120px) {
    .photo-grid__image {
        width: 300px;
    }
}

@media screen and (max-width: 860px) {
    .photo-grid__image {
        width: 352px;
    }
}


@media screen and (max-width: 425px) {
    .photo-grid__image {
        width: 288px;
    }
}